*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    font-family: 'poppins';
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
} 
.interface .logo{
    margin-top: 1%;
}
header{
    background-color: #000000;
    margin: 0 4%;
    
}

header > .interface{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
header a{
    color: #565656;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    font-size: 18px;
    transition: 0.5s;
}
header .logo a h1{
    color: #60b2f9;
    margin-top: 5%;
}
header a:hover{
    color: #60b2f9;
    text-shadow: 0 0 20px #60b2f9 ;
    transform: scale(1.10);
}
    
header nav ul  {
    list-style-type: none;
    margin-top: 6%;
}
header nav ul li{
    display: inline-block;
    margin: 0 40px;    
}
.btn-contato button{
    padding: 10px 40px;
    background-color: #60b2f9;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
}
.interface .btn-contato button{
    margin: 20% 0px 0 0;
}
.btn-contato button:hover{
    color: #fff;
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 20px #60b2f9;
}
main .flutua{
    display: inline-block;
    transition: 1.5s;
    margin-right: 10%;
}
main .flutua img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top:10%;
    }
}
main .flutua:hover{
    transform: scale(1.2);
}
.txt-principal{
    color: #fff;
    margin: 6% 10%;
}
.txt-principal img{
    border-radius: 10px;
}
.txt-principal h1{
    font-size: 40px;
}
.txt-principal p{
    margin: 10px 0 30px;
}  
.tudo{
    margin-top: 52px;
    gap: 10px;
    display: flex
}
.tudo span{
    color: #60b2f9;
    font-size: 50px;
}
.box  .minhasespecialidades {
    color: #fff;
    text-align: center;
    font-size: 40px;
    
}
.minhasespecialidades{
    font-size: 40px;
    color: #fff;
}
.minhasespecialidades span{
    color: #60b2f9;
}
section .box{
    padding: 40px 4%;
}

.flex{
    display: flex;
    color: #fff;
    padding: 40px;
}
.especialidades-box:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0 0 30px #60b2f9;
}
.especialidades-box i:hover{
    color:#60b2f9;
}
.especialidades-box {
    border-radius: 30px;
    margin: 30px;
}

.especialidades-box i{
    font-size: 70px;
    margin-left: 40%;
}
.especialidades-box p{
    text-align: center;
    margin: 10px 10px;
}
.especialidades-box h3 {
    text-align: center;
}
.sobre{
    color: #fff;
    display: flex;
    margin: 0 30px 0 0;
} 
.sobre .txt-sobre{
    margin: 10% 10% 0 0;
}
.sobre .txt-sobre p{
    margin: 10px 0;
}
.sobre .redes-sociais{
    margin: 20% 0 10px 0;
}
.sobre .redes-sociais a{
   display: block;
   color: #fff;
   margin: 20px 10px ;
   font-size: 40px;
   background-color: #60b2f92e;
   padding: 10px 10px;
   border-radius: 10px;
}
 #what:hover{
    color: #0bff28;
}
#link:hover{
    color: #288ee7;
}
#github:hover{
    color: #727272;
}
.portfolio {
    box-shadow: 0 0 40px 10px #ffffff1a;
}
.portfolio .minhasespecialidades{
    text-align: center;
}
.img-port{
    height: 460px;
    width: 360px;
    background-color: #000000;
    background-size: cover;
    background-position: 100% 0%;
    transition: 7s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}
.img-port:hover{
    background-position: 100% 100%; 
}
.portfolio .flex{
    justify-content: space-around;
}
.portfolio h2{
    padding-top: 30px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000097;
    display: flex;
    font-weight: 600;
    color: #fff;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}
.overlay:hover{
    opacity: 1;
    
}

    

