*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    font-family: 'poppins';
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
header{
    background-color: #000000;
    padding: 10px 4%;
    
}

header > .interface{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
header a{
    color: #565656;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    font-size: 18px;
    transition: 0.5s;
}
header a:hover{
    color: #60b2f9;
    text-shadow: 0 0 20px #60b2f9 ;
    transform: scale(1.10);
  
    
}
header nav ul  {
   list-style-type: none;
}
header nav ul li{
       display: inline-block;
       margin: 0 40px;
       margin-top: 40px;
}
header .btn-contato button{
    margin-top: 40px;
    padding: 10px 40px;
    background-color: #60b2f9;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
}
header .btn-contato button:hover{
    color: #fff;
}
main .flutua{


 display: inline-block;
 transition: 1.5s;
 
 margin-right: 10%;
}
main .flutua img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top:10%;
    }
}
main .flutua:hover{
 
 transform: scale(1.1);
}
.txt-principal{
    color: #fff;
    margin: 6% 15%;
   
}
.tudo{
    gap: 10px;
    display: flex
}
.tudo span{
    color: #60b2f9;
    font-size: 50px;
}